/* #region Base styles */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

h1 {
  margin: 50px 0;
  text-align: center;
  text-shadow: 2px 2px 5px darkolivegreen;
}
/* #endregion Base styles */

/* #region Menu styles */
.go-back-link {
  position: absolute;
  top: 20px;
  left: 20px;

  display: inline-block;
  min-width: 150px;
  padding: 5px 10px;
  background-color: darkolivegreen;
  border: 2px solid #2e2f42;

  color: white;
  text-align: center;
  text-decoration: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.go-back-link:hover,
.go-back-link:focus {
  background-color: #2e2f42;
}
/* #endregion Menu styles */

/* #region Gallery styles */
:root {
  --gap-value: 24px;
  --items: 3;
  --transition-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-value);
  justify-content: center;
  align-items: center;

  max-width: 1128px;
  margin: 0 auto;
  padding: 24px;

  list-style: none;
}

.gallery-item {
  flex-basis: calc(
    (100% - (var(--gap-value) * (var(--items) - 1))) / var(--items)
  );
}

.gallery-link {
  display: inline-block;
  cursor: zoom-in;

  transition: transform var(--transition-hover);
}

.gallery-link:hover,
.gallery-link:focus {
  transform: scale(1.05);
}

.gallery-image {
  object-fit: cover;
}

.modal {
  max-width: 100%;
  width: 1112px;
  background-color: #fff;
}
/* #endregion Gallery styles*/
